<app-Especialist-navigation></app-Especialist-navigation>
<mat-card [formGroup]="testform">

<mat-card-title class="title">Nuevo Test Vocacional </mat-card-title>

<input matinput  formControlName="testname" [(ngModel)]="Test.Testname"  placeholder="Enter a Name" requiered class="form-control"  type="testname">
<mat-card-actions>
<button mat-raised-button class="burea" [disabled]="!testform.valid" (click)="creartest()">Continuar</button>
<button mat-raised-button class="burea" (click)="regresar()">Regresar</button>
</mat-card-actions>
</mat-card>
