<app-navigation></app-navigation>

<mat-card>

  <mat-card-title>{{testtitle}}</mat-card-title>
  <mat-grid-list [cols]="breakpoint" rowHeight="400px" (window:resize)="onResize($event)" >

  <mat-grid-tile  *ngFor="let element of dataSource1.data">

    <mat-card class="card">
      <mat-card-title>{{element.questionName}}</mat-card-title>
      <app-Option [idquestion]='element.questionId' (respuesta)="Respuestarecibida($event)"></app-Option>

    </mat-card>




  </mat-grid-tile>




  </mat-grid-list>


  <button mat-raised-button class="but" (click)="terminartest()">Terminar Test</button>
</mat-card>
