
<app-Especialist-navigation></app-Especialist-navigation>
<div class="fondo">

  <mat-grid-list cols="2" rowHeight="700px">


   <mat-grid-tile>

    <div class="butpages">
      <ul  class="item">

        <li>
          <button mat-raised-button>Perzonalizado</button>
        </li>
         <li>


          <button mat-raised-button>Comun</button>
         </li>

      </ul>
    </div>


 </mat-grid-tile>
 <mat-grid-tile>



  <img src="https://cdn.discordapp.com/attachments/875462809150963742/897979398970556547/Z.png"
  class="imagehome">





 </mat-grid-tile>


























  </mat-grid-list>
</div>
